.body_sobre {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    top: clamp(95px, 10vh, 150px);
    position: relative;

}

.banner {
    position: relative;

}

.banner_img {
    
    width: 100%;     
    height: 75vh;    
    object-fit: cover;  
}

.banner_box {
    position: absolute;
    top: 75px;
    right: 950px;
    width: 800px;
    height: 75vh;
    min-width:800px;
    background: yellow;
    z-index: 10;
    box-shadow: 25px 25px 25px;
}