
.produtos_section_carrinho {
    width: 100vw;
    position: relative;
    top: 30px;
    padding: 0px;
    /* display: grid; */
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.produtos_container {
    display: flex;
    background-color: rgb(32, 32, 32);
    border: 2px rgba(0, 0, 0, 0.918) solid;
    padding-top: 0px;
    width: 28vw;
    color: whitesmoke;
    text-align: center;
    font-weight: 800;
    width: 90%;
    display: flex;
    margin: 0px !important;
    max-width: 1600px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.686);
}

.produtos_section_carrinho img {
    transition: 0.3s;
    top: 2.5%;
    left: 2.5%;
    width: 10%;
    border-radius: 3px;
    object-fit: cover;
}


.produtos_section_carrinho button {
    font-family: "Arial";
    color: white;
    text-align: center;
    background-color: yellow;
    font-size: 1.3rem;
    margin-top: 10px;
    border-radius: 10px;
    text-align: left;
    padding: 5px 100px;
}

.produtos_section_carrinho p {
    margin-bottom: 0px;
}

.disabled {
    cursor: not-allowed;
    background-color: #cccccc !important;
    opacity: 0.8;
}

.remover_item {
    background: red !important;
    padding: 0px !important;
    text-align: center !important;
    align-items: center !important;
    align-content: center !important;
    height: 55px !important;
    width: 55px !important;
}
