.form_login {
    position: absolute;
    height: 50vh;
    width: 70vw;
    background-color: rgb(54, 54, 54);
    border: rgb(63, 63, 63) 2px solid;
    border-radius: 25px;
    left: calc(50vw - 35vw);
    top: calc(50vh - 25vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    color: yellow;
    text-align: center;
    font-size: 50px;
    margin:0px;
    text-decoration: underline;
}

label, input{
    font-family: "Arial";
    color: yellow;
    text-align: center;
    background-color: black;
    font-size:25px;
}

button {
    font-family: "Arial";
    color: yellow;
    text-align: center;
    background-color: black;
    font-size:25px;
    margin:10px;
    border-radius: 10px;
}

.form_login section {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.form_login div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form_login div label {
    background-color: transparent;
}

.form_login div input {
    border: solid yellow 1px;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: left;
}

.footer_input a {
    padding: 0px;
}
